<div>


	<div style="background:white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="container" style=" height: 100%;"">
		<div class="row text-center" style=" height: 10%; " > 
			<h1>Monitoreo de Radiación Electromagnética</h1>
		</div>
        <div class="row" style=" height: 90%; " >     
            
            <!-- Barra lateral izquierda -->
            <div style=" height: 100%; " class="col-lg-4 col-md-4 col-sm-4">                
				<div class="col-lg-12 col-md-12 col-sm-12">              
	                <form>	                	
	                	<div class="form-group">
						    <label >Desde</label>
						    <input type="date" class="form-control" ng-model="queryData.minDate">					    
						</div>
						<div class="form-group">
						    <label >Hasta</label>
						    <input type="date" class="form-control" ng-model="queryData.maxDate">					    
						</div>

					    <!--div class="form-group">
					        <label for="exampleInputEmail1">Comuna</label>
					        
					        <select ng-model="queryData.commune_id" class="form-control">
					        	<option value="undefined"  >Todas las comunas</option>
						        <option value="{{commune.id}}" ng-repeat="commune in communes" >{{commune.name}}</option>					  
							</select>
					  	</div-->	

  					    <div ng-if="pageStatus == 'polygons'">	
  					    	<input ng-model="watch.polygons" type="checkbox" name="vehicle" value="Bike"> Comunas<br>				  	
  					    </div>
  					    <div ng-if="pageStatus == 'cells' || pageStatus == 'samples'">	
  					    	<input ng-model="watch.polygon" type="checkbox" name="vehicle" value="Bike"> Comuna<br>				  	
  					    </div>
  					    <div ng-if="pageStatus == 'cells'">	
  					    	<input ng-model="watch.cells" type="checkbox" name="vehicle" value="Bike"> Celdas<br>				  	
  					    </div>
  					    <div ng-if="pageStatus == 'samples'">	
  					    	<input ng-model="watch.cell" type="checkbox" name="vehicle" value="Bike"> Celda<br>				  	
  					    </div>
  					    <div ng-if="pageStatus == 'samples'">	
  					    	<input ng-model="watch.samples" type="checkbox" name="vehicle" value="Bike"> Muestras<br>				  	
  					    </div> 					    				  	
  					     					     

					    <button ng-if="pageStatus != 'polygons'" ng-click="getBack()" type="submit" class="btn btn-default">Atrás</button>    
					    
					</form>               
				</div>		
					
				<div style="margin-top:20px; height: 600px; overflow-y:auto;" class="col-lg-12 col-md-12 col-sm-12">	                
	               
	                <!-- POLYGONS TABLE-->
	                <label ng-if="polygonsList()" >Lista de comunas</label>	                
	                <table ng-if="polygonsList()" class="table">
						<tr >
						    <th>Comuna</th>
						    <th>Medición</th> 
						    <th>Muestras</th>
					 	</tr>
					  	<tr ng-click="getPolygon(polygon.id)" ng-repeat="polygon in polygons">
						    <td>{{polygon.name}} </td>
						    <td>{{polygon.value}}</td> 
						    <td>{{polygon.quantity}}</td>
					  	</tr>						  	  	
					</table>						

					<!-- CELLS TABLE-->				
					<label ng-if="cellsList()" >Lista de celdas</label>
					<table ng-if="cellsList()" class="table">
						<tr >						   
						    <th>Medición</th> 
						    <th>Muestras</th>
			 		    </tr>
					  	<tr ng-repeat="cell in cells" ng-click="getCell(cell.id)">						    
						    <td>{{cell.value}}</td> 
						    <td>{{cell.quantity}}</td>
					  	</tr>
					</table>

					<!-- SAMPLES TABLE-->
					<label ng-if="samplesList()">Lista de muestras</label>
					<table ng-if="samplesList()"  class="table" >
						<tr >	
							<th>Fecha</th>					   
						    <th>Medición</th> 
						   
			 		    </tr>
					  	<tr ng-repeat="sample in samples" >	
					  		<td>{{sample.date}}</td>    
						    <td>{{sample.value}}</td> 
						    
					  	</tr>
					</table>

				</div>				
            </div>   


            <div style="height: 70%;" class="col-lg-8 col-md-8 col-sm-8">         
                <div  id="map"></div>
	            <div style="height: 40%; overflow-x:auto;" class="col-lg-12 col-md-12 col-sm-12">  
	            		   <div fusioncharts
					    width="100%" 
					    height="300px"
					    type="msline"
					    chart="{{attrs}}"
					    categories="{{categories}}"
					    dataset="{{dataset}}"
				    ></div>         
	                             
	            </div>
	            <div style="margin-top:20px; class="col-lg-12 col-md-12 col-sm-12">                
                     
            	</div>            	
            	
        	</div>    
    	</div>
    </div>
</div>

	
